body {
  background-color: #e0ebeb;
  font-family: "Roboto", sans-serif;
}

a {
  color: #5dacbd;
}

h1 {
  color: #24527a;
}

.app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(50, 94, 100, 0.2);
}

.search-input {
  background-color: #e0ebeb;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-button {
  background-color: #5dacbd;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
}

.app-details strong {
  color: #6acdd8;
}

.temperature-app-container {
  display: flex;
}

.icon {
  width: 88px;
  height: 88px;
}
.app-temp {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  color: #24527a;
}

.unit {
  margin-top: 6px;
  font-size: 28px;
  color: #24527a;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.date {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-temperature {
  margin-top: 10px;
  display: flex;
  color: #6acdd8;
  justify-content: center;
  text-align: center;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-min {
  opacity: 0.7;
  padding: 0 10px;
}

.weather-max {
  padding: 0 10px;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #e0ebeb;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
